

.main-section{
    display: flex;
    justify-content: center;
     align-items: center;
     height: 100vh; 
     background-color: beige;
}

.container{
    background-color: rgb(186, 134, 238);
    padding: 50px 50px ;
    box-shadow: 2px 2px 10px rgb(241, 26, 158);
    border-radius: 6px;
    
}

.player-score{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.score-number{
    font-size: 20px;
    color: rgb(218, 241, 13);
    font-weight: 700;
    margin-left :5px; 
}

.balls{
      color: white;
    font-size: 20px;
    font-weight: 700;
}

.balls-number{
      font-size: 20px;
    color: rgb(218, 241, 13);
    font-weight: 700;
    margin-left :5px;
}

.bat-img{
    width: 50px;
    border-radius: 10px;
}

.restart-img{
    width: 50px;
    border-radius: 10px;
}

.btn-contain{
    display: flex;
    gap: 10px;
     margin: 50px;
}
.bat-btn{
    background-color: rgb(229, 14, 154);
     border-radius: 10px;
    padding: 8px;
    border: none;
    transition: background-color 0.8s ease;
}

.bat-btn:hover{
    background-color: rgb(71, 13, 245);
     transform: scale(1.05);

}
.restart-btn{
    background-color: rgb(229, 14, 154);
    padding: 10px;
    border:none;
    border-radius: 10px;
    transition: background-color 0.8s ease;
}

.restart-btn:hover{
    background-color: rgb(71, 13, 245);
     transform: scale(1.05);

}